# torch==2.4.1
gurobipy==12.0.0 # Adjust this version if you have a different Gurobi version license
matplotlib==3.10.0
matplotlib-inline
networkx
numpy
onnx==1.17.0
onnxruntime==1.20.1
pandas
pillow
PyYAML
scikit-learn==1.5.2
scipy
shapely==2.0.6
torch-geometric
# torch_scatter
torchmetrics==1.6.0
torchvision==0.19.1
tqdm
urllib3
wandb==0.18.6
yarl
zipp
colorama